<section>
  <nav class="shift">
    <ul>
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/coso']" routerLinkActive="router-link-active">Cơ sở</a></li>
      <li><a href="#">Giấy chứng nhận</a></li>
      <li><a [routerLink]="['/thanhtra']" routerLinkActive="router-link-active">Thanh tra</a></li>
    </ul>
    <ul class="ml-right">
      <li class="nav-item dropdown user-icon" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img [src]="'assets/images/user-img/user-default.png'" alt="" class="img-fluid rounded-circle z-depth-0"></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="login">Log out</a>
        </div>
      </li>
    </ul>
  </nav>
</section>