<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="background ">
  <div>
    <div class="back-button">
      <button routerLink='/login' class="go-back"><i class='fas fa-angle-left'></i></button>
      <label>Quay lại</label>
    </div>
  </div>
  <div class="content-background">
    <p>Đăng nhập và quản lý ngay hôm nay!</p>
  </div>
  <div id="img-reset-password">
    <img [src]="'assets/images/PNG/Customize.png'" alt="Presentation">
</div>
</div>
<form novalidate #resetPasswordForm="ngForm">
  <div class="reset-password-container">
    <div class="container">
      <div class="input-group">
        <input [(ngModel)]="user.password" name="oldPassword" required id="old-password" type="password" maxlength="12"
          placeholder="Mật khẩu cũ">
        <div class="error-message"
          *ngIf="resetPasswordForm.controls['username']?.errors?.['required'] && resetPasswordForm.controls['username'].touched">
          Mật khẩu không hợp lệ
        </div>
      </div>
      <div class="input-group">
        <input [(ngModel)]="user.password" name="newPassword" required id="new-password" type="password"
          maxlength="12" placeholder="Mật khẩu mới">
        <div class="error-message"
          *ngIf="resetPasswordForm.controls['password']?.errors?.['required'] && resetPasswordForm.controls['password'].touched">
          Mật khẩu không hợp lệ
        </div>
      </div>
      <div class="input-group">
        <input [(ngModel)]="user.password" name="confirmPassword" required id="confirm-password" type="password"
          maxlength="12" placeholder="Nhập lại mật khẩu">
        <div class="error-message"
          *ngIf="resetPasswordForm.controls['password']?.errors?.['required'] && resetPasswordForm.controls['password'].touched">
          Mật khẩu không hợp lệ
        </div>
      </div>

      <div class="error-message" *ngIf="message">
        {{ message }}
      </div>
      <div class="button-group">
        <button type="button" value="reset">Đổi mật khẩu</button>
      </div>
    </div>
  </div>
</form>
