<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="background ">
  <div>
    <div class="backButton">
      <button routerLink='/login' class="goBack"><i class='fas fa-angle-left'></i></button>
      <label>Quay lại</label>
    </div>
  </div>
  <div class="contentBackground">
    <p>Đăng nhập và quản lý ngay hôm nay!</p>
  </div>
</div>
<form novalidate #resetPasswordForm="ngForm">
  <div class="resetPasswordContainer">
    <div class="container">
      <div class="inputGroup inputUserGroup">
        <input [(ngModel)]="user.password" name="oldPassword" required id="oldPassword" type="password" maxlength="12"
          placeholder="Mật khẩu cũ">
        <div class="errorMessage"
          *ngIf="resetPasswordForm.controls['username']?.errors?.['required'] && resetPasswordForm.controls['username'].touched">
          Mật khẩu không hợp lệ
        </div>
      </div>
      <div class="inputGroup inputPasswordGroup">
        <input [(ngModel)]="user.password" name="newPassword" required id="newPassword" type="password"
          maxlength="12" placeholder="Mật khẩu mới">
        <div class="errorMessage"
          *ngIf="resetPasswordForm.controls['password']?.errors?.['required'] && resetPasswordForm.controls['password'].touched">
          Mật khẩu không hợp lệ
        </div>
      </div>
      <div class="inputGroup inputPasswordGroup">
        <input [(ngModel)]="user.password" name="confirmPassword" required id="confirmPassword" type="password"
          maxlength="12" placeholder="Nhập lại mật khẩu">
        <div class="errorMessage"
          *ngIf="resetPasswordForm.controls['password']?.errors?.['required'] && resetPasswordForm.controls['password'].touched">
          Mật khẩu không hợp lệ
        </div>
      </div>

      <div class="errorMessage" *ngIf="message">
        {{ message }}
      </div>
      <div class="buttonGroup">
        <button type="button" value="reset">Đổi mật khẩu</button>
      </div>
    </div>
  </div>
</form>
