.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #2ecc71;
}

.back-button {
  position: absolute;
  top: 5%;
  left: 5%;
}

.go-back {
  width: 40px;
  height: 40px;
  background-color: #2ecc71;
  border: 5px solid white;
  border-radius: 50%;
}

.back-button i {
  font-size: 20px;
  color: white;
}

.back-button > label {
  font-size: 30px;
  color: white;
  margin: auto 20px;
}

.content-background {
  position: absolute;
  top: 20%;
  left: 3%;
  width: 40%;
  height: 10%;
}

.content-background > p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-size: 2.5em;
  line-height: 1.5em;
}

#img-reset-password {
  position: absolute;
  top: 45%;
  left: 0;
  width: 45%;
  z-index: 1;
}

#img-reset-password img {
  width: 100%;
}

form {
  width: 100%;
  height: 90%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

.reset-password-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: unset;
  max-width: 50%;
  background-color: white;
  margin: auto;
  padding: 2.25rem;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.container {
  margin: 30% auto;
}

form .input-group {
  margin: 0 0 2rem;
  padding: 0;
  position: relative;
}

#old-password::placeholder,
#new-password::placeholder,
#confirm-password {
  font-size: 1.5em;
}

form label {
  margin: 10px 0 10px 0;
  display: block;
  font-size: 1.2em;
  color: #293eff;
  font-weight: 600;
}

form input {
  display: block;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  font-size: 1em;
  color: #3d3d6d;
  font-weight: 600;
  font-family: inherit;
  transition: box-shadow 1s linear;
}

form input:focus {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 2px rgb(99, 162, 235);
}

form button {
  display: block;
  width: 350px;
  margin: 7px;
  padding: 10px;
  background-color: #4eb8dd;
  border: none;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: none;
  height: 60px;
  font-size: 1.5em;
  color: white;
  font-weight: 300;
}

.button-group {
  width: 350px;
  margin: 100px auto;
}

form button:hover,
form button:active {
  background-color: rgb(43, 150, 199);
}

.container a {
  font-style: italic;
  color: blue;
  text-decoration: none;
}

#create {
  background-color: rgb(45, 204, 45);
}

#create:hover,
#create:active {
  background-color: rgb(39, 170, 39);
}

.error-message {
  font-style: italic;
  color: red;
  margin: 2%;
}
