<h1 mat-dialog-title style="color: red">Thêm Cơ Sở Vào Danh Sách</h1>
<div mat-dialog-content>
  <form [formGroup]="formcoso">
    <mat-form-field appearance="outline">
      <mat-label>Tên Cơ Sở</mat-label>
      <input formControlName="ten" matInput placeholder="Tên Cơ Sở" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Địa Chỉ</mat-label>
      <input formControlName="diaChi" matInput placeholder="Địa Chỉ" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Số Điện Thoại</mat-label>
      <input formControlName="sdt" matInput placeholder="Số Điện Thoại" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Loại Hình</mat-label>
      <mat-select formControlName="loaiHinh" placeholder="Loại Hình">
        <mat-option value="Sản Xuất">Sản Xuất</mat-option>
        <mat-option value="Dịch Vụ">Dịch Vụ</mat-option>
        <mat-option value="Sản Xuất và Dịch Vụ">Sản Xuất và Dịch Vụ</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quận/Huyện</mat-label>
      <input formControlName="quanHuyenId" matInput placeholder="Quận/Huyện" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Xã/Phường</mat-label>
      <input formControlName="xaPhuongId" matInput placeholder="Xã/Phường" />
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Chứng Nhận</mat-label>
      <input formControlName="chungNhanId" matInput placeholder="Chứng Nhận" />
    </mat-form-field> -->
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
  <button mat-raised-button color="primary" (click)="addCoSo()">
    {{ actionBtn }}
  </button>
</div>
