<section>
    <nav class="footer">
      <ul>
        <li><a href="#"><mdb-icon fab icon="facebook-f"></mdb-icon></a></li>
        <li><a href="#"><mdb-icon fab icon="instagram"></mdb-icon></a></li>
        <li><a href="#"><mdb-icon fab icon="linkedin-in"></mdb-icon></a></li>
        <li><a href="#"><mdb-icon fab icon="twitter"></mdb-icon></a></li>
        <li><a href="#"><mdb-icon fab icon="github"></mdb-icon></a></li>
      </ul>
      <ul><span>Design by UET Developer</span></ul>
    </nav>
  </section>
  