<section>
    <nav class="footer">
      <ul>
        <li><a href="https://facebook.com"><mdb-icon fab icon="facebook-f"></mdb-icon></a></li>
        <li><a href="https://www.instagram.com"><mdb-icon fab icon="instagram"></mdb-icon></a></li>
        <li><a href="https://www.linkedin.com"><mdb-icon fab icon="linkedin-in"></mdb-icon></a></li>
        <li><a href="https://twitter.com"><mdb-icon fab icon="twitter"></mdb-icon></a></li>
        <li><a href="https://github.com/duynam236/frontend-app"><mdb-icon fab icon="github"></mdb-icon></a></li>
      </ul>
      <ul><span>Design by UET Developer</span></ul>
    </nav>
  </section>
  